---
machine:
  type: controlplane
  nodeLabels:
    topology.kubernetes.io/zone: main
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
  match: mac(link.permanent_addr) == "b8:85:84:b5:91:5c"
