customization:
    systemExtensions:
        officialExtensions:
            - siderolabs/gvisor
            - siderolabs/kata-containers
            - siderolabs/nfs-utils
            - siderolabs/iscsi-tools
            - siderolabs/nvme-cli
    bootloader: sd-boot
